<div id="banner">
  <div class="inline-block">
  
    <a *ngIf="!this.authService.isLoggedIn" class="btn btn-outline-primary" routerLinkActive="active" routerLink="/log-in">Sign
      in</a>
    </div>
    <div class="inline-block">     
  <a *ngIf="!this.authService.isLoggedIn" class="btn btn-outline-primary" routerLinkActive="active"
    routerLinkActive="active" routerLink="/sign-up">Sign up</a>
  <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Logout</button>
</div>
<div class="inline-block">
  <img src="/assets/images/incinque.jpg" alt="team logo">
</div>
<div class="inline-block">    
  <img src="/assets/images/immediaid.jpg" alt="web app logo">
</div>
</div>




      <div class="aboutApp">
        <p>  - The name of this web application is Immedi-Aid, standing for immediate aid, by inCinque (chosen name for software co.)</p>
        <p>  - The idea behind the application is that any individual who faces a situation in which they needs First Aid or CPR, they can access the application and search for the nearest individual with CPR certification or first aid training, as it might happen they are closer and can arrive earlier than the paramedics.</p>
      </div>
      
<nav >
  <ul class = "mynav">
  <li><a routerLinkActive="active" routerLink="/aidproviders-list">View Aid Providers</a></li>
  
  <li><a routerLinkActive="active" routerLink="/create-aidprovider">Add Aid Provider</a></li>
  </ul>
</nav>
<h1></h1>




  





<router-outlet></router-outlet>
